<template lang="html">
  <div class="container-fluid" id="advantages">
    <div class="big-text cap">ПРЕИМУЩЕСТВА РАБОТЫ У НАС</div>

    <div class="row">
      <div class="col-2">

      </div>
      <div class="advs col-8">
        <div class="adv" v-for="adv in advantages" v-bind:key="adv.id">
          <img v-bind:src="adv.pic" alt="adv.text">
          <div class="small-text">
            {{ adv.text.toUpperCase() }}
          </div>
        </div>
      </div>
      <div class="col-2">

      </div>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      advantages: [
        {id: 1, pic: '/static/pics/preim_01.png', text: 'Работа официально и по договору с первого дня'},
        {id: 2, pic: '/static/pics/preim_02.png', text: 'Ежедневные выплаты'},
        {id: 3, pic: '/static/pics/preim_03.png', text: 'Гибкий график'},
        {id: 4, pic: '/static/pics/preim_04.png', text: 'Можем обеспечить работой от 1 до 8 часов в день, возможны и небольшие задачи раз в неделю'},
        {id: 5, pic: '/static/pics/preim_05.png', text: 'Выдаем первый проект в работу в день обращения'},
        {id: 6, pic: '/static/pics/preim_06.png', text: 'Интересные проекты'}

      ]
    }
  }
}
</script>

<style lang="sass">
#advantages .small-text
  font-weight: bold
.adv
  margin-bottom: 50px
  text-align: center

.advs
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr))
  grid-gap: 0px

.cap
  text-align: center
  padding: 40px

#advantages
  background-image: url("/static/pics/vakas_back_desktop.jpg")
  background-size: auto
  position: relative
</style>
