<template lang="html">
  <div id="efooter">
  <div class="container" >
    <div class="row">
    	<div class="col-12 col-md-6 col-lg-3"><span class="small-text">&copy; Электрон 2010 - 2018</span><br><p>разработка и продвижение интернет-проектов</p><a class="politika" v-bind:href="this.politika">Политика конфиденциальности</a></div>
    	<div class="col-12 col-md-6 col-lg-3 ico"><img v-bind:src="this.phone"><div>телефон в ижевске<br><span class="small-text">+7 (3412) 23-53-11</span></div></div>
    	<div class="col-12 col-md-6 col-lg-3 ico"><img v-bind:src="this.mail"><div>наш email<br><span class="small-text">office@web-electron.ru</span></div></div>
    	<div class="col-12 col-md-6 col-lg-3 ico"><img v-bind:src="this.web"><div>основной сайт<br><a href="http://web-electron.ru/"><span class="small-text">web-electron.ru</span></a></div></div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      politika: '/assets/files/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%B8%20%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD.pdf',
      phone: '/static/pics/phone.svg',
      mail: '/static/pics/mail.svg',
      web: '/static/pics/web.svg',
    }
  }
}
</script>

<style lang="sass">
@import 'src/assets/sass/colors.sass'

#efooter 
  color: $black3
  font-size: 14px
  text-transform: uppercase
  font-family: Rubik 
  line-height: 14px
  margin-bottom: 50px
  border-top: 1px solid #E0E0E0
  padding-top: 30px

#efooter p
  font-size: 11px
  text-transform: lowercase
  font-weight: bold
  margin-bottom: 5px

#efooter a.politika
  font-size: 11px
  text-transform: none
  text-decoration: underline
  font-weight: normal

#efooter a.politika:hover
	color: $blue
	
#efooter .ico
  display: flex
  align-items: center

#efooter .ico img
	margin-right: 10px

#efooter .row>div
	margin-bottom: 30px
  

#efooter .small-text
  color: $blue
  // font-style: normal
  font-weight: 900
  font-size: 14px;
  font-family: Rubik

</style>
/* office@web-electron.ru */

position: absolute;
width: 224px;
height: 22px;
left: 1065px;
top: 5405px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
text-transform: uppercase;

color: #00A3E2;

/* остались вопросы ? */

position: absolute;
width: 1170px;
height: 53px;
left: 375px;
top: 4961px;

font-family: Rubik;
font-style: normal;
font-weight: 900;
line-height: normal;
font-size: 48px;
text-align: center;
text-transform: uppercase;

color: #4F4F4F;
