<template lang="html">
  <div id="eheader" class="container">
  <header class="row header no-gutters">
    <nav class="col-12 navbar navbar-expand-sm">

      <a class="navbar-brand" href="#" role="banner"><img src="../assets/img/logo_fullsize.svg" alt="Электрон-лого" class="logo-img"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 mt-lg-0" id="links">
          <li v-for="link in links" v-bind:key="link.id" class="nav-item" v-bind:class="{active:link.active}">
            <a class="nav-link" v-bind:href="link.href">{{ link.text }}</a>
          </li>

        </ul>

      </div>

    </nav>
  </header>

</div>
</template>

<script>
export default {
  data () {
    return {
      test: 345,
      links: {
        index: {id: 1, href: '/', text: 'Главная', active: true},
        second: {id: 2, href: '/2', text: 'Вторая', active: false}
      }
    }
  }
}
</script>

<style lang="sass">
@import ../assets/sass/colors.sass
.logo-img
  width: 125px
  height: 88px
.navbar
  background: white
.navbar-toggler
  border: 0px solid transparent
.navbar-toggler span
  background-image: url("/static/pics/menu_close.svg")
.collapsed span
  background-image: url("/static/pics/menu_hamburger.svg")
</style>
