<template lang="html">
  <div id="mainSlider" class="container-fliud">
    <transition name="appr" appear>
      <div class="row bg no-gutters pt-0 pt-lg-5">

        <div class="col-12 col-lg-5 ml-5 img d-none d-lg-flex">
          <img src="/static/pics/bg1.svg" alt="" class="float-right">
        </div>
        <div class="col-12 col-lg-5 txt">
          <div class="big-text p-4">
            {{ bigText.toUpperCase() }}
          </div>
          <div class="small-text pl-4">
            {{ smallText.toLowerCase() }}
          </div>
          <div class="btn-wrap d-flex mx-auto ml-lg-3">
            <div><a href="#" class="btn btn-outline-light electrobutton" name="free_vac">{{ btn1_text.toUpperCase() }}</a></div>
            <div><a href="#" class="btn btn-outline-light electrobutton" name="info">{{ btn2_text.toUpperCase() }}</a></div>
          </div>
        </div>
        <div class="col-1">

        </div>

      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      btn1_text: 'Свободные вакансии',
      btn2_text: 'Информация о компании',
      bigText: 'СТАНЬ ЧАСТЬЮ НАШЕЙ КОМАНДЫ ПРОФЕССИОНАЛОВ',
      smallText: 'И ЗАЙМИСЬ ТЕМ, ЧТО ПО-НАСТОЯЩЕМУ НРАВИТСЯ'
    }
  }
}
</script>

<style lang="sass">
@import "../assets/sass/colors.sass"

#mainSlider .btn-wrap
  width: 90%
  border: 0px solid red
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 30px

.appr-enter
  opacity: 0

.appr-enter-active
  transition: opacity 2s

.bg
  background: url('/static/pics/bg2.svg')
  background-size: cover
  width: 100%
  padding-bottom: 30px

.col
  border: 1px solid red
  width: 100%

.img

.img img
  width: 100%
  padding-right: 20px
</style>
