<template lang="html">
  <div class="container" id="questions">
  	<div class="big-text cap">{{ this.main_cap.toUpperCase() }}</div>
  	<div class="text"><p>{{ this.main_text }}</p></div>
    <form class="frm" name="frm-questions" action="post">
    	<div class="row myrow1 text-center text-md-left position-relative">
	    	<div class="col-12 col-md-5">
	    		<input class="inp" type="text" name="name" required>
					<div class="placeholder">Ваше имя <span class="red">*</span></div>	    		
	    	</div>	
	    	<div class="col-12 col-md-4">
	    		<input class="inp" type="text" name="phone" required>
					<div class="placeholder">Ваш номер телефона <span class="red">*</span></div>	    		
	    	</div>	
	    	<div class="col-12 col-md-3">
	    		<input class="btn inp submit" type="submit" name="btn-submit" value="Отправить">
	    	</div>	
	    </div>	
    </form>
  	<div class="row text-left commentrow">
	  	<div class="col-12 col-md-7 order-md-2">{{ this.pers }} <br class="d-none d-xl-inline"><a v-bind:href="this.pers_link">{{ this.pers_text }}</a></div>	
	  	<div class="col-12 col-md-5 order-md-1"><span class="red">*</span> {{ this.req }}</div>	
  	</div>	
  </div>

</template>

<script>
export default {
  data () {
    return {
      main_cap: 'остались вопросы ?',
      main_text: 'Заполните короткую форму ниже и мы свяжемся с вами по указанному вами номеру',
			req: 'Поля обязательные для ввода',      
			pers: 'Нажимая на кнопку “Отправить”, вы даете свое согласие на обработку персональных данных. ',      
			pers_text: 'Узнать больше',      
			pers_link: '/assets/files/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%B8%20%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD.pdf'      
    }
  }
}
</script>

<style lang="sass">
/* остались вопросы ? */
@import 'src/assets/sass/colors.sass'

#questions 
  margin-bottom: 50px

#questions .cap
  color: $black
  padding-bottom: 0px

#questions .text
	text-align: center


#questions input
  margin-top: 15px
  margin-bottom: 15px
  height: 47px
  border: 1px solid #E0E0E0
  box-sizing: border-box
  border-radius: 5px
  width: 100%
  padding-left: 15px
  padding-rigth: 15px

#questions .red
	color: $red

#questions .placeholder 
  color: $black2
  font-size: 14px
  position: absolute
  left: 30px
  top: 55%
  transform: translateY(-50%)
  pointer-events: none

#questions .submit 
	background: $blue
	color: #fff

#questions .submit:hover
  border: 2px solid #00a2ff 	
  background: white
  color: $blue

#questions .frm
	margin-top: 60px 

#questions .commentrow	
  line-height: 14px
  font-size: 12px
  font-family: Rubik
  font-style: normal
  font-weight: normal
  color: $black3

#questions .commentrow div 
  margin-bottom: 15px

#questions .commentrow a 
  color: $black3
  text-decoration: underline

#questions .commentrow a:hover 
  color: $blue


#questions .inp:focus ~ .placeholder
  display: none
#questions .inp:valid ~ .placeholder 
  display: none

</style>
