<template lang="html">
  <div class="container-fluid" id="terms">
    <div class="big-text cap">УСЛОВИЯ И ГАРАНТИИ</div>

    <div class="row">
      <div class="col-2 d-none d-sm-flex">

      </div>
      <div class="trms col-12 col-sm-8 ">
        <div class="trm" v-for="term in terms" v-bind:key="term.id">
          <img v-bind:src="term.pic" v-bind:alt="term.text">
          <div class="small-text">
            {{ term.text.toUpperCase() }}
          </div>
        </div>
      </div>
      <div class="col-2 d-none d-sm-flex">

      </div>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      terms: [
        {id: 1, pic: '/static/pics/uslov_01.png', text: 'Ежедневные выплаты'},
        {id: 2, pic: '/static/pics/uslov_02.png', text: 'Работа официально и по договору с первого дня'},
        {id: 3, pic: '/static/pics/uslov_03.png', text: 'Возможны авансовые платежи'},
        {id: 4, pic: '/static/pics/uslov_04.png', text: 'Работа официальная и по договору'},
        {id: 5, pic: '/static/pics/uslov_05.png', text: 'Гибкий график'},
        {id: 6, pic: '/static/pics/uslov_06.png', text: 'Часовая ставка от 250 до 500 рублей в час в среднем'}

      ]
    }
  }
}
</script>

<style lang="sass">
@import 'src/assets/sass/colors.sass'
#terms .big-text
  color: $black
#terms .small-text
  font-weight: bold
  color: $blue
.trm
  margin-bottom: 50px
  text-align: center
  border: 0px solid $blue
.trms
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr))

.cap
  text-align: center

#trms
  position: relative
</style>
