<template lang="html">
  <div id="vacancies">
    <div class="container-fluid">
      <div class="cap">СВОБОДНЫЕ ВАКАНСИИ</div>
      <div class="row">
        <div class="vacs col-12">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label @click="show(index)" v-for="(vac, index) in vacancies" class="btn btn-outline-light electrobutton" v-bind:class="{active: vac.act}" v-bind:key="index">
              <input type="radio" name="options" v-bind:id="'option'+(index+1)" autocomplete="off"> {{ vac.name.toUpperCase() }}
            </label>
          </div>
        </div>
      </div>

            <transition name="vac" appear mode="out-in">
            <div class="v" v-for="(vac, index) in vacancies" v-if="vac.act" v-bind:key="index">
              <div class="row">
                <div class="col-2 d-none d-lg-flex">

                </div>
                <div class="col-12 col-md-5 imag">
                  <img v-bind:src="vac.pic" v-bind:alt="vac.name">
                </div>
                <div class="col-12 col-md-5 skills">
                      <div class="big-text">{{ vac.name.toUpperCase() }}</div>
                      <p>{{ vac.desc }}</p>
                      <div class="big-text">ТРЕБОВАНИЯ</div>
                      <p>{{ treb }}</p>
                      <ul>
                        <li v-for="skill in vac.skills" v-bind:key="skill">
                          <p>{{ skill }}</p>
                        </li>
                      </ul>
                        <div class="btn-wrap d-flex">
                          <div class="w-100"><button type = "button" class="btn btn-outline-light electrobutton" data-toggle="modal" data-target="#exampleModal" name="response">{{ response_btn.toUpperCase() }}</button></div>
                          <div class="w-100"><a href="#" class="btn btn-outline-light electrobutton" name="ask_test">{{ ask_test_btn.toUpperCase() }}</a></div>
                        </div>
                </div>
              </div>
            </div>
            </transition>

        <!-- Попап "Откликнуться на вакансию" -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Откликнуться</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form>
                 <!--<div class="form-group">
                   <label for="recipient-name" class="col-form-label">Recipient:</label>
                   <input type="text" class="form-control" id="recipient-name" v-model="formContent.name">
                 </div>
                 <div class="form-group">
                   <label for="message-text" class="col-form-label">Message:</label>
                   <textarea class="form-control" id="message-text" v-model="formContent.test"></textarea>
                 </div>-->
                 <div class="form-group" v-for="(field, index) in formFields" v-bind:key="index">
                   <input type="text" class="form-control " v-bind:id="index" v-model="field.value" v-bind:placeholder="field.cap">
                   <!-- <label v-bind:for="index" class="col-form-label placeholder">{{ field.cap }}</label> -->
                 </div>
                 <div class="row add-portfolio">
                   <div class="col-12 col-sm-7 mb-3"><input type="text" class="form-control" placeholder="Ссылка на портфолио" ></div>
                   <div class="w-100 d-sm-none"></div> 
                   <div class="col file_upload mb-3">
                      <input type="file">
                      <button type="button">Прикрепить резюме</button>
                    </div>
                   
                   <!-- <label v-bind:for="index" class="col-form-label placeholder">{{ field.cap }}</label> -->
                 </div>
               </form>
<<<<<<< HEAD

               Имя: {{ formFields[0].value }} <br>
               Просто поле: {{ formFields[1].value }} <br>

=======
               <!-- Имя: {{ formFields[0].value }} <br> -->
               <!-- Просто поле: {{ formFields[1].value }} </br> -->
              </div>
              <div class="modal-footer flex-column align-items-stretch">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button> -->
                <div class="mb-3"><button type="button" class="btn w-100 btn-send" data-toggle="modal" data-target="#thanksModal">Отправить</button></div>
                <div class="text">{{ this.req }}</div> 
                <div class="text">{{ this.pers }} <a v-bind:href="this.pers_link">{{ this.pers_text }}</a></div> 
              </div>
            </div>
          </div>
        </div>
        <!-- Попап "Письмо отправлено" -->
        <div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="thanksModalLabel">ваш отклик принят</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
>>>>>>> 9c8aba427d4130a7bbc26c360a9ace536dfea7df
              </div>
              <div class="modal-body">Спасибо за отклик, мы рассмотрим вашу кандидатуру и свяжемся с вами по указанным вами контактным данным в течении двух дней.</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-send w-100" data-dismiss="modal">Закрыть окно</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</template>

<script>
export default {
  data () {
    return {
      formFields: [
        {
          id: 'name',
          cap: 'Ваше имя *',
          value: ''
        },
        {
          id: 'email',
          cap: 'Ваш Email *',
          value: ''
        },
        {
          id: 'tel',
          cap: 'Ваш номер телефона *',
          value: ''
        },
      ],
      vacancies: [
        {
          id: 1,
          name: 'Разработчик-универсал',
          pic: '/static/pics/front.svg',
          desc: 'short description',
          skills: [
            'first',
            'second',
            'third'
          ],
          act: false
        },
        {
          id: 2,
          name: 'Бэкенд-разработчик',
          pic: '/static/pics/front.svg',
          desc: 'short description',
          skills: [
            'first',
            'second',
            'third'
          ],
          act: false
        },
        {
          id: 3,
          name: 'Фронтенд-разработчик',
          pic: '/static/pics/front.svg',
          desc: 'Нужен специалист, готовый программировать и дорабатывать сайты на различных CMS.',
          skills: [
            'Знание PHP + laravel или 1C-Bitrix, CMS Modx, SQL, HTML, CSS, JavaScript, jQuery, Ajax;',
            'Умение читать и понимать чужой код;',
            'Умение писать SQL запросы, профилировать их и оптимизировать;',
            'Умение работать с версткой (доработка, изменение);',
            'Умение работать в unix подобной среде;',
            'Опыт работы с системой контроля версий (Git)'
          ],
          act: true
        }
        /* {id:4, name: "Землекоп", pic: "https://images.obi.ru/product/RU/1260x625/231507_1.jpg", desc: "Копать чтобы",
          skills: ["Умение копать совковой лопатой", "Умение копать штыковой лопатой", "Умение копать методом Буравчика"],
          act: false}, */

      ],
      treb: 'Навыки, которые будут полезны для нас. Вы можете обладать только определенной технологией.',
      response_btn: 'Откликнуться на вакансию',
      ask_test_btn: 'Запросить тестовое задание',
      req: '* Поля обязательные для ввода',      
      pers: 'Нажимая на кнопку “Отправить”, вы даете свое согласие на обработку персональных данных. ',      
      pers_text: 'Узнать больше',      
      pers_link: '/assets/files/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%B8%20%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD.pdf'      
    }
  },
  methods: {
    show (a) {
      for (var i = 0; i < this.vacancies.length; i++) {
        this.vacancies[i].act = false
        if (i === a) this.vacancies[i].act = true
      }
    }
  }
}
</script>

<style lang="sass">
@import 'src/assets/sass/colors.sass'
.btn-wrap
  border: 0px solid red
  flex-wrap: wrap
  justify-content: space-between
  padding-top: 30px

.btn-wrap .btn
  width: 100%

.skills
  text-align: left
  color: white

.v
  padding-top: 50px
  text-align: center

#vacancies

.v .big-text
  padding: 0

.active
  color: $black!important

#vacancies .vacs img
  width: 150px

.vac-enter, .vac-leave-to
  opacity: 0

.vac-enter-active, .vac-leave-active
  transition: opacity .3s

.vacs .btn
  margin: 0

.btn-group
  width: 100%
  justify-content: center

.vacs
  text-align: center

#vacancies
  background-image: url("/static/pics/vakas_back_desktop.jpg")
  background-size: cover
  position: relative
  ul
    padding: 0
    margin: 0
    line-height: 20px
    li
      margin-left: 20px
  .cap
    text-align: center
    font-size: 48px
    color: white
    font-family: Rubik Black
  .big-text
    font-size: 24px
    margin: 0
  .small-text
    font-weight: bold
  .imag
    width: 400px
    height: 400px
    border: 0px solid red
    max-width: 400px
  .v img
    padding-right: 30px
    margin: auto
    max-width: 400px

.file_upload
    position: relative
    overflow: hidden
    height: 38px
    flex-grow: 1

.file_upload > button
    width: 100%            
    height: 100%
    color: $blue
    border: 1px dashed $blue
    border-radius: 5px
    background: transparent
    font-size: 14px
    cursor: pointer

.file_upload:hover > button
    border: 2px solid $blue
    
.file_upload input[type=file]
    position: absolute
    transform: scale(20)
    -ms-transform: scale(20) /* IE 9 fix */
    opacity: 0
    cursor: pointer

.add-portfolio .col
  border: none

.btn-send
  background: $blue
  color: #fff
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  height: 48px
  border-radius: 5px

.btn-send:hover
  background: #fff
  color: $blue
  border: 2px solid $blue

input::-webkit-input-placeholder
   color: #bdbdbd
   font-size: 14px
   font-family: Rubik
input::-moz-placeholder
  font-size: 14px
  font-family: Rubik
  color: #bdbdbd
input:-moz-placeholder
  font-size: 14px
  font-family: Rubik
  color: #bdbdbd
input:-ms-input-placeholder
  font-size: 14px
  font-family: Rubik
  color: #bdbdbd

.modal-footer 
  border: none

.modal-footer .text
  margin-bottom: 10px
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: $black3;

.modal-footer .text a
  text-decoration: underline
.modal-title
  font-family: Rubik
  font-style: normal
  font-weight: 900
  line-height: normal
  font-size: 24px
  text-transform: uppercase
  color: $black
.modal-header
  border: none
  
.close
  font-size: 50px
  line-height: 25px
  font-weight: 400
  opacity: .3
  color: $black


.close:focus, .close:active
  border: none
  outline: none

#thanksModal .modal-body
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #828282;

</style>
