<template>
  <div id="app">
    <eheader></eheader>
    <mainSlider></mainSlider>
    <aboutus></aboutus>
    <advantages></advantages>
    <terms></terms>
    <vacancies></vacancies>
    <questions></questions>
    <efooter></efooter>
  </div>
</template>

<script>
import eheader from './components/eheader'
import mainSlider from './components/mainSlider'
import aboutus from './components/aboutus'
import advantages from './components/advantages'
import terms from './components/terms'
import vacancies from './components/vacancies'
import questions from './components/questions'
import efooter from './components/efooter'
export default {
  components: {
    eheader,
    mainSlider,
    aboutus,
    advantages,
    terms,
    vacancies,
    questions,
    efooter
  },
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style lang="sass">
@import "./assets/sass/main.sass"

</style>
