@font-face
  font-family: "Rubik"
  src: url(assets/fonts/Rubik/Rubik-Regular.ttf)
@font-face
  font-family: "Rubik Black"
  src: url(assets/fonts/Rubik/Rubik-Black.ttf)
@font-face
  font-family: "Rubik Bold"
  src: url(assets/fonts/Rubik/Rubik-Bold.ttf)
@font-face
  font-family: "Rubik Light"
  src: url(assets/fonts/Rubik/Rubik-Light.ttf)
