@import ./colors.sass
@import ./fonts.sass
body
  font-family: Rubik, Helvetica, Arial, sans-serif
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
#app
  color: $black
  overflow: hidden

h1
  font-family: "Rubik Black"
  font-size: 48px
  line-height: 57px
  text-align: center
h1,h2
  word-wrap: break-word
a
  color: $black
  &:hover
    color: $blue

.big-text
  font-family: "Rubik Black"
  font-size: 3em
  line-height: 57px
  color: white
  //margin-top: 150px
  word-wrap: break-word

.small-text
  font-size: 18px
  line-height: 21px
  margin-top: 31px
  color: white

.electrobutton
    border-width: 1px
    border-radius: 10px
    font-family: "Rubik Bold"
    font-size: 12px
    min-width: 240px
    padding: 10px 20px 10px 20px
    margin-bottom: 20px 
    &:hover
      background: white
      color: $blue
